In [14]:
import pandas as pd

In [15]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [16]:
df=pd.read_csv(r'data\adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

<b>1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)</b>

In [17]:
race_count = df['race'].value_counts()
race_count_perc=df['race'].value_counts(normalize=True)*100 #optional
race_count
race_count_perc

# race_count = df.groupby('race').size()
# race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

race
White                 85.427352
Black                  9.594300
Asian-Pac-Islander     3.190934
Amer-Indian-Eskimo     0.955130
Other                  0.832284
Name: proportion, dtype: float64

<b>2. What is the average age of men?</b>

In [18]:
avg_age_male=df.groupby('sex')['age'].mean()['Male']
avg_age_male.round(1)

np.float64(39.4)

<b>3. What is the percentage of people who have a Bachelor's degree?</b>

In [19]:
percentage_bachelors=(df.groupby('education').size()['Bachelors']/len(df)*100).round(1)
percentage_bachelors

np.float64(16.4)

<b>4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?</b>

In [20]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_percentage=(higher_education.groupby('salary').size()['>50K']/len(higher_education)*100).round(1)
higher_education_percentage

np.float64(46.5)

<b>5. What percentage of people without advanced education make more than 50K?</b>

In [21]:
lower_education=df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_percentage=(lower_education.groupby('salary').size()['>50K']/len(lower_education)*100).round(1)
lower_education_percentage

np.float64(17.4)

<b>6. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?</b>

In [22]:
min_work_hours=df['hours-per-week'].min()
min_work_hours

np.int64(1)

In [23]:
num_min_workers=df[df['hours-per-week'] == min_work_hours]

# rich_percentage= (num_min_workers[num_min_workers['salary'] == '>50K'].shape[0] / num_min_workers.shape[0]) * 100

rich_percentage=(num_min_workers.groupby('salary').size()['>50K'])/ num_min_workers.shape[0] * 100
rich_percentage

np.float64(10.0)

<b>7. What country has the highest percentage of people that earn >50K and what is that percentage?</b>

In [24]:
highest_earning_country=(df[df['salary'] == '>50K'].groupby('native-country').size() / df.groupby('native-country').size() * 100).sort_values(ascending=False).index[0]
highest_earning_country

highest_earning_country_perc=(df[df['salary'] == '>50K'].groupby('native-country').size() / df.groupby('native-country').size() * 100).max()
highest_earning_country_perc

'Iran'

np.float64(41.86046511627907)

<b>8. Identify the most popular occupation for those who earn >50K in India.</b>

In [25]:
top_IN_occupation=df[(df['salary'] =='>50K') & (df['native-country'] == 'India')].groupby('occupation').size().sort_values(ascending=False).index[0]
top_IN_occupation

'Prof-specialty'